<section class="the-science common-section" id="why-rcp-is-better">
  	<div class="page-width">
      	<img class="desktop-hide mobile-hide lazyload" data-src="https://cdn.shopify.com/s/files/1/0021/0573/7291/t/67/assets/diagram.png">
      	<div class="science-cont text-center">
      		<h2>{{ section.settings.head1 }}</h2>
      		<h4>{{ section.settings.head2 }}</h4>
      		<div class="border-box">{{ section.settings.txt1 }}</div>
      	</div>
    </div>
</section>
<section class="the-science-2 common-section">
  	<div class="page-width">
      	<div class="white-cont">
          	<div class="native desktop-hide"><img class="lazyload" data-src="{{ section.settings.img | img_url: 'master' }}"></div>
      		<h2>{{ section.settings.head3 }}</h2>
      		<h4>{{ section.settings.head4 }}</h4>
      		{{ section.settings.txt2 }}
      	</div>
      	<div class="native mobile-hide"><img class="lazyload" data-src="{{ section.settings.img | img_url: 'master' }}"></div>
    </div>
</section>

{% schema %}
	{
    	"name": "The Science Section",
    	"settings": [
			{
				"type": "header",
				"content": "The Science Section"
			},
			{
				"type": "text",
				"id": "head1",
				"label": "Section Heading"
			},
			{
				"type": "text",
				"id": "head2",
				"label": "Sub-Heading"
			},
			{
				"type": "richtext",
				"id": "txt1",
				"label": "Border Box Content"
			},
			{
				"type": "text",
				"id": "head3",
				"label": "Bottom Heading"
			},
			{
				"type": "text",
				"id": "head4",
				"label": "Sub-Heading"
			},
			{
				"type": "richtext",
				"id": "txt2",
				"label": "Paragraph Content"
			},
			{
				"type": "image_picker",
				"id": "img",
				"label": "Native Image"
			}
		]
  	}
{% endschema %}